aiohttp>=3.7.4
async-timeout==3.0.1
attrs==21.2.0
chardet==4.0.0
discord.py==1.7.3
idna==3.2
multidict==5.1.0
typing-extensions==3.10.0.0
yarl==1.6.3
psutil==5.9.0
jishaku==2.5.0
requests==2.27.1
discord_buttons_plugin==0.1.2
discord-together==1.2.4
bs4==4.9.0